{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "globals": {
    "describe": true,
    "it": true
  },
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": [2, "never"],
    "import/no-extraneous-dependencies": [2, { "optionalDependencies": false, "peerDependencies": false}]
  }
}
